<tr id="insumo_<%= insumo.id %>">
  <td class="px-4 py-2"><%= insumo.nombre %></td>
  <td class="px-4 py-2 font-semibold text-green-700">
    <%= render partial: "insumos/form_insumo_inline", locals: { insumo: insumo } %>
  </td>
</tr> 