<div class="rounded-lg border border-gray-200 bg-card text-card-foreground shadow-lg xl:col-span-2">
  <div class="flex flex-row items-center p-6">
    <div class="grid gap-2">
      <h3 class="text-2xl font-semibold leading-none tracking-tight">Proyectos Recientes</h3>
      <p class="text-sm text-muted-foreground">Un vistazo a los últimos trabajos en proceso y finalizados.</p>
    </div>
    <%= link_to projects_path, class: "inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-9 px-3 ml-auto" do %>
      Ver Todos
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
        <path d="M7 7L17 17"></path>
        <path d="M17 7V17H7"></path>
      </svg>
    <% end %>
  </div>
  
  <div class="relative w-full overflow-auto">
    <table class="w-full caption-bottom text-sm">
      <thead class="[&_tr]:border-b">
        <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
          <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Cliente</th>
          <th class="h-12 px-4 text-right align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0 hidden sm:table-cell">Estado</th>
          <th class="h-12 px-4 text-right align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0 hidden sm:table-cell">Fecha de Entrega</th>
          <th class="h-12 px-4 text-right align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Acciones</th>
        </tr>
      </thead>
      <tbody class="[&_tr:last-child]:border-0">
        <% @recent_projects.each do |project| %>
          <%= render 'dashboard/project_row', project: project %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
