<tr id="supply_<%= supply.id %>">
  <td class="px-4 py-2"><%= supply.name %></td>
  <td class="px-4 py-2 font-semibold text-green-700">
    <%= render "supplies/partials/form_supply_inline", supply: supply %>
  </td>
</tr>