# fly.toml app configuration file generated for acma-optimizer on 2026-01-26T14:58:04-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'acma-optimizer'
primary_region = 'gru'

[build]
  dockerfile = 'OptimizerDockerfile'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

  [[http_service.checks]]
    interval = "30s"
    timeout = "5s"
    grace_period = "10s"
    method = "GET"
    path = "/health"

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
