<div id="<%= dom_id supply %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= supply.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Precio:</strong>
    <%= supply.price %>
  </p>
</div>
