<!-- DVH table section -->
<div class="bg-white rounded-md border border-gray-200 shadow-sm p-4 mt-7">
    <h2 class="text-base font-semibold mb-4">DVH</h2>

    <div id="dvhs-table-container"></div>

    <!-- Contenedor para los inputs ocultos de DVH confirmados -->
    <div id="dvhs-hidden"></div>

    <!-- Formulario de creación de DVH -->
    <div id="dvhs-wrapper">
    </div>

    <!-- Botón para agregar nuevo DVH -->
    <%= button_tag "Agregar DVH", type: "button", id: "add-dvh", class: "mt-4 bg-black text-white px-4 py-2 rounded" %>
</div>