<div id="<%= dom_id insumo %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= insumo.nombre %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Precio:</strong>
    <%= insumo.precio %>
  </p>
</div>
